In [4]:
import numpy as np
import pandas as pd

In [5]:
s1= pd.Series(range(0,4))
s2= pd.Series(range(1,5))
s3 = s1+s2
s4 = pd.Series(['a','b'])*3

# concat  s1 s2   : pd.concat([s1,s2])
# concat s1
#        s2
# pd.concat([s1,s2], axis=1)
df1 = pd.concat([s1,s2], axis=1)  # s1n * 2
df2 = pd.concat([s1,s2])      # 1 * s1n +s2n

df3 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                     index=[0, 1, 2, 3])
   

print df3
df5 = pd.DataFrame(df3['A'])
print df5

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A
0  A0
1  A1
2  A2
3  A3

*** convert Pandas Data Frame to numpy array ***

In [18]:

numpy_array =  df3.loc[:,'A'].values

pandas_series = df3.loc[:,'A']

print 'numpy_array = ',numpy_array
print 'type of numpy_array = ', type (numpy_array)

numpy_reshape= numpy_array.reshape(len(numpy_array),1)

print 'numpy_reshape :' ,numpy_reshape

print 'pandas_series= ', df_one_dim
print 'type of pandas_series = ', type (df_one_dim)

numpy_array =  ['A0' 'A1' 'A2' 'A3']
type of numpy_array =  <type 'numpy.ndarray'>
numpy_reshape : [['A0']
 ['A1']
 ['A2']
 ['A3']]
pandas_series=  0    A0
1    A1
2    A2
3    A3
Name: A, dtype: object
type of pandas_series =  <class 'pandas.core.series.Series'>

In [15]:
 df3[:,'A'] = 'xx'

TypeError: unhashable type

In [92]:
s1= s1 * 3
print s1.indexs1= s1 * 3


for i in range(len(s1)):
    
 print s1[i]

RangeIndex(start=0, stop=4, step=1)
0
3
6
9

In [55]:
idx = s1.index
print idx

RangeIndex(start=0, stop=4, step=1)

In [56]:
col3 =  df3.columns
print col3
idx3 = df3.index
print idx3

Index([u'A', u'B', u'C', u'D'], dtype='object')
Int64Index([0, 1, 2, 3], dtype='int64')

In [57]:
# index.values  will return numpy array
# index  type : pandas.indexes.numeric.Int64Index
print idx3.values

print idx3.values[2]

print col3.values
print col3.values[2]

[0 1 2 3]
2
['A' 'B' 'C' 'D']
C

In [58]:
# select column
print df3['C']

0    C0
1    C1
2    C2
3    C3
Name: C, dtype: object

In [59]:
df1

   0  1
0  0  1
1  1  2
2  2  3
3  3  4

In [60]:
df1.sort([1])

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   0  1
0  0  1
1  1  2
2  2  3
3  3  4

In [61]:
df1[1][2] = 88

In [62]:
df1

   0   1
0  0   1
1  1   2
2  2  88
3  3   4

In [63]:
df1.sort([1])

C:\Anaconda\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   0   1
0  0   1
1  1   2
3  3   4
2  2  88

In [64]:
df1.columns.values
df1.rename(columns={1:'col2'}, inplace=True)
df1.rename(columns={0:'col1'}, inplace=True)
df1

   col1  col2
0     0     1
1     1     2
2     2    88
3     3     4

In [75]:
df1.loc[:,'col2'] = df1.loc[:,'col1'] + 5
type(df1['col1'])

pandas.core.series.Series

In [74]:
dd = pd.DataFrame(columns= ('x','y'))
dd

Empty DataFrame
Columns: [x, y]
Index: []

# For Loop ticks and tricks

In [2]:
for num in range(10,20):
    print num

10
11
12
13
14
15
16
17
18
19

In [6]:
import numpy as np
x = np.ones ((10,1))
type(x)

numpy.ndarray